#floor-selector {
    border-radius: 25px;
    position: fixed;
    width: 50px;
    height: fit-content;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    user-select: none;
}

#floor-selector div {
    height: 50px;
    width: 100%;
    margin: 0;
    padding: 0;
    margin: 5px 0px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    font-size: 24px;
    justify-content: center;
    cursor: pointer;
    transition: 0.25s;
    border: 1px solid transparent;
}

#floor-selector div:hover {
    background: rgba(0,0,0,.5);
    transition: 0.25s;
}

#floor-selector .selected-floor {
    border: 1px solid white;
}