.settingsHolder {
    position: fixed;
    width: 80vw;
    height: 90vh;
    background: var(--background);
    border-radius: 20px;
    border: 1px solid white;
    display: none;
    /* display: flex; */

    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 3;
}

.settings {
    position: relative;
}

.settingsNavbar {
    padding-top: 5px;
    position: absolute;
    top: 0;
    width: 200px;
    height: calc(100% - 5px);
    border-right: 1px solid #fff;
}

.settingsPanels .settingsPanel {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 200px;
    padding: 20px;
    display: none;
}

.settingsPanels {
    margin: 0;
    padding: 0;
    width: calc(100% - 200px);
}

.settingsPanels h1 {
    margin-top: 0;
}

.activeSetting {
    display: block !important;
}

.settingsNavbar p {
    margin-left: 20px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s;
}

.settingsNavbar p:hover {
    color: #bbb;
    transition: 0.2s;
}

#settings-exit {
    position: absolute;
    top: 10px;
    right: 0px;
    width: 20px;
    height: 20px;
}

#close-settings-button {
    position: absolute;
    padding: 0px 15px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 10px;
    right: 20px;
    bottom: 20px;
    transition: 0.1s;
}

#close-settings-button:hover {
    color: var(--bgTextHover);
    transition: 0.1s;
}