<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/style/style.css" />
  <link rel="stylesheet" href="/style/settings.css" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <script src=" /thirdParty/jquery-3.7.1.min.js"></script>
  <title>Walkways | Home</title>
  <link rel="icon" type="image/x-icon" href="/style/round.ico">
</head>

<body>
  <div id="content-fade"></div> <!-- makes everything darker for popups and stuufs -->
  <div class="settingsHolder"></div>

  <div class="header"></div>

  <div class="root">
    <div class="nav-buttons">
      <img id="nav-home" src="/style/icons/home.svg" alt="home" />
      <img id="nav-plus" src="/style/icons/plus.svg" alt="plus" />
      <img id="nav-minus" src="/style/icons/minus.svg" alt="minus" />
    </div>
    <p style="display: none" id="br-data"></p>
    <div class="sidebar"></div>
    <div class="hide" id="data"><%- data %></div>

    <canvas id="map-canvas"></canvas>

</body>

<script src="/js/map.js"></script>
<script src="/js/home.js"></script>
<script src="/js/header.js"></script>
<script src="/js/settings.js"></script>
<script src="/js/sidebar.js"></script>

</html>