<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>ppsbathrooms | home</title>
</head>

<body>
    <div class="navbar fv">
        <div class="logo">
            <h1>ppsbathrooms</h1>
        </div>
        <div class="flex">
            <p id="userInfo" style="margin-right: 20px;"></p>
            <div class="signIn fh fv" id="signInButton">sign in</div>
            <div class="signIn fh fv" id="signOutButton" style="display: none;">sign out</div>
        </div>
    </div>
    <div class="root">
        <p id="data"></p>
        <div id="map-holder" class="fh">
            <div id="map-content">
                <div id="map">
                    <div>
                        <div class="building fh fv" style="margin-left: 1000px; margin-top: 300px;">building 1</div>
                        <div class="building fh fv" style="margin-left: 750px; margin-top: 100px;">building 2</div>
                        <div class="building fh fv" style="margin-left: 250px; margin-top: -350px;">building 3</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    fetch('/api/brdata')
        .then(response => response.json())
        .then(data => $('#data').html(JSON.stringify(data)));

    $('#signInButton').on('click', e => {
        window.location = '/auth/google';
    })

    $('#signOutButton').on('click', e => {
        window.location = '/logout';
    })

    const { isAuthenticated, user } = JSON.parse('<%- data %>');

    if (isAuthenticated) {
        $('#signInButton').hide();
        $('#signOutButton').show();
        if (user) {
            $('#userInfo').html(`${user.displayName} - ${user.email}`)
        }
    } else {
        $('#signInButton').show();
        $('#signOutButton').hide();
    }
</script>

<script src="/js/map.js"></script>
<script src=" /thirdParty/jquery-3.7.1.min.js"></script>

</html>